.hero {
  height: 100vh;
  overflow: hidden;
  position: relative;
  max-height: 610px;
  width: 100%;

  #{&}__container {
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: $white;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    padding: 2rem 1rem;
    text-align: center;
    width: 100%;

    & > * {
      z-index: 10;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $dark-20;
      z-index: 1;
    }
  }

  #{&}__title {
    font-family: $font-text-special;
    font-size: $font-size-xbig;
  }

  #{&}__text {
    font-size: $font-size-med;
    font-family: $font-text-title;
  }

  #{&}__link {
    animation: smoothMotion 6s linear infinite;
    background-color: transparent;
    border: thin solid $white;
    border-radius: 0.25rem;
    color: white;
    font-size: $font-size-default;
    font-family: $font-text-content;
    overflow: hidden;
    padding: 1rem 2rem;
    position: relative;
    text-decoration: none;
    font-weight: bold;
    max-width: 180px;
    width: 50%;

    &:hover {
      border: thin solid $primary-white;
      animation-play-state: paused;
    }

    &:hover::after {
      transform: translateX(0);
    }

    &:hover::before {
      background-color: transparent;
    }

    &::before,
    &::after {
      background-color: $white-20;
      content: "";
      position: absolute;
      top: -2%;
      left: 0;
      filter: blur(2px);
      width: 100%;
      height: 100%;
      transition: background-color 0.3s ease-in;
      z-index: -1;
    }

    &::after {
      background-color: $primary-white-75;
      transform: translateX(-105%);
      transition: transform 0.3s linear;
    }
  }
}

@keyframes smoothMotion {
  0%,
  100% {
    transform: translateX(-5%);
  }

  50% {
    transform: translateX(5%);
  }
}
