// primary
$primary: #0563b0;
$primary-90: #0563b0e8;
$primary-70: #0563b0c2;
$primary-50: #0563b0a1;
$primary-dark: #0408bd;
$primary-white: #04bdae;
$primary-white-75: #04bdaed0;
// secondary
$sand: #fff9bf;
// basics
$white: #ffffff;
$white-90: #ffffffda;
$white-70: #ffffffc7;
$white-50: #ffffff54;
$white-20: #ffffff2d;
$dark: #111111;
$dark-70: #111111cc;
$dark-20: #1111118a;
