@import url("https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");

// fonts
$font-text-special: "IM Fell DW Pica SC", sans-serif;
$font-text-title: "Noto Serif", sans-serif;
$font-text-content: "Noto Serif", sans-serif;
// sisez
$font-size-small: calc(1.2rem + 0.25vw);
$font-size-default: calc(1.4rem + 0.5vw);
$font-size-med: calc(2rem + 0.75vw);
$font-size-big: calc(4rem + 0.75vw);
$font-size-xbig: calc(6rem + 0.75vw);
