.beatch {
  position: relative;
  text-align: center;

  &::before {
    background: linear-gradient(
      150deg,
      $white-90,
      $white,
      $sand,
      $sand,
      $primary-white,
      $primary
    );
    content: "";
    display: inline-block;
    height: 100vh;
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: -1;
  }
}
